html 
    head 
        title Chat
        link(rel="stylesheet", href="/css/chats.css")
        script.
            const chatId = "#{chat.id}";
            const currentUser = "#{user.username}";
    body 
        header 
            h1= ChatForum
            .menu 
                if knownUser 
                    include includes/header.pug
        .container
            .owner
                .banner
                    - const chatDato = new Intl.DateTimeFormat('da-DK').format(new Date(chat.createDate));
                    img(src="/user-icon.webp")
                    h4= `${chat.owner} - ${chatDato}`
                .overskrift 
                    h2= chat.subject
                    p= chat.initialMessage
            if user.userlevel > 1
                .inputContainer
                    textarea(name="", id="kommentar") 
                    br
                    button.standard(type="button", id="commentBtn")="Kommentér"
                button.standard(type="button" onclick="history.back()") Tilbage


            .messages
                each message in messages
                    .messagecontainer
                        .banner
                            - const sendtDato = new Intl.DateTimeFormat('da-DK').format(new     Date(message.createDate));
                            img(src="/user-icon.webp")
                            h5= `${message.sender} - ${sendtDato}`
                        .message
                            p(id=message.id)= message.text
                        if user.userlevel == 3
                            button(type="button", class="editBtn", data-id=message.id)
                                img.edit(src="/edit-icon.webp", alt="editicon")
                            button(type="button", class="removeBtns", data-id=message.id,   data-chatId=chat.id)
                                img.delete(src="/delete.svg", alt="deleteicon")
                        else if user.username == message.sender && user.userlevel == 2      
                            button(type="button", class="editBtn", data-id=message.id)
                                img.edit(src="/edit-icon.webp", alt="editicon")
                            button(type="button", class="removeBtns", data-id=message.id,   data-chatId=chat.id)
                                img.delete(src="/delete.svg", alt="deleteicon")

            div#editModal.modal.hidden
                div.modal-content
                    h3 Rediger besked
                    textarea#editInput
                    button#saveEditBtn Gem
                    button#cancelEditBtn Annuller

    script(src="/chats.js") 
    