doctype html
html
  head
    title Chat Forum
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      .menu  
        include includes/header
    .container
      if knownUser
        h2 Emner
        -let index = 0;
        each chat in chats 
          .post
            .post-header 
              - const owner = users.find(user => user.username === chat.owner)
              if owner
                img(src="user-icon.webp")
                a.owner(href="/users/" + owner.username) #{owner.username}
            .post-content
              a.subject(href="/chats/" + chat.id) #{chat.subject}
              p= chat.initialMessage
            .post-footer
              -const subjectCreateDato = new Intl.DateTimeFormat('da-DK').format(new Date(chat.createDate))
              span #{subjectCreateDato}
              if user.userlevel > 1
                button(type="Button", class="removeChatBtns", data-chat-id=chat.id) Slet emne
        if user.userlevel > 1
          a.button(href="/createchat") Opret emne
      else
        h2 Velkommen til ChatForum 
        h3 Log ind eller registrer dig
        a.button(href="/login") Login
        a.button(href="/register") Registrer dig
  script(src="/removechat.js")
