html 
    head
        title Chat Forum
        link(rel="stylesheet", href="/css/styles.css") 
    body 
        header 
            include includes/header
        .container
            .post-header
                h2= "Beskeder sendt af " + userInfo.username 
            .post-content
                - let lastSubject = null
                h3="Startede diskussioner:" 
                each discussion in chatOwner
                    a(href="/chats/" + discussion.id) #{discussion.subject}
                    p=discussion.initialMessage
                h3="Beskeder sendt:"
                each t in userchats
                    - const subject = chat.find(sub => sub.id == t.chatId)
                    if subject
                        if subject.subject !== lastSubject
                            p 
                                strong Emne: #{subject.subject}
                            - lastSubject = subject.subject
                        div.flex-container
                            p Besked: #{t.text}
                            button.delete(type="button", class="deleteBtns", data-id=t.id)
                                img.delete(src="/delete.svg")
                    else
                        p.error Beskedens emne kunne ikke findes
            button.standard(type="button" onclick="history.back()") Tilbage
    script(src="/usermessages.js")
