html 
    head 
        link(rel="stylesheet", href="/css/styles.css")
        script.
            const userLevel = "#{userInfo.userlevel}" 
            const userId = "#{userInfo.userlevel}"
    body
        header
            include includes/header
        .container
            .post-header
                h2= userInfo.username
            .post-content
                -const userDato = new Intl.DateTimeFormat('da-DK').format(new Date(userInfo.dateCreated))
                p= "User created: "  + userDato
                p= "User Level: " + userInfo.userlevel
                a.button(href="/users/" + userInfo.username + "/messages") Messages
                button(type="button" onclick="history.back()") Tilbage
                if user.userlevel == 3
                    button(type="button", class="editULevelBtn") Edit userlevel
    script(src="/js/userLogic.js") 